.board {
    grid-area: board;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    padding: 0 5em;
    position: relative;
}

.boardRow {
    display: flex;
    position: relative;
}

.playerRow {
    margin-top: 6em;
    margin-bottom: 1em;
}

.played,
.sacs,
.targets {
    display: flex;
    position: absolute;
    pointer-events: none;
    inset: 0;
}

.played .card:not(.empty) {
    pointer-events: auto;
}

.card,
.cardSlot {
    position: relative;
}

.circuit {
    position: absolute;
    inset: 0;
    pointer-events: none;
}

.cardSlotHover {
    position: absolute;
    inset: 0;
    visibility: hidden;
}

.cardSlot:hover .cardSlotBase {
    visibility: hidden;
}

.cardSlot:hover .cardSlotHover {
    visibility: visible;
}

.sacs .slot,
.played .card {
    width: 44em;
}

.sacs .slot .sac:not(.selected) {
    visibility: hidden;
}

.sacs .slot.canSac {
    pointer-events: auto;
    cursor: pointer;
}

.sacs .slot.selected .sac {
    visibility: visible;
}

.targets .slot {
    pointer-events: auto;
    cursor: pointer;
}

.targets .slot:not(:hover) .targetHover {
    display: none;
}

.targets .slot:hover .target {
    display: none;
}

.border {
    position: absolute;
    height: 160em;
    left: 0;
    right: 0;
    bottom: 0;
}

.boardBg {
    position: absolute;
    bottom: 2em;
    left: 4em;
    z-index: -10;
}
