.events {
    grid-area: debug-events;
    width: 100em;
    display: flex;
    flex-direction: column;
    background: var(--flow);
    color: var(--ui-dark);
    border: 1em solid var(--ui-dark);
    margin-left: 1em;
    height: 0;
    min-height: 100%;
}

.separator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(var(--ui-rgb), .2);
}

.divider {
    border-top: 1em dashed var(--ui-dark);
    width: 90%;
    margin: 2em 0;
}

.stack {
    flex: 1;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
}

.event {
    background-color: transparent;
    border-color: rgb(255, 255, 255, .2);
    margin: 2em;
}

.eventHeader {
    display: flex;
    justify-content: space-between;
}

.eventType {
    color: var(--ui);
    text-transform: uppercase;
}

.info {
    grid-area: debug-info;
    display: flex;
    align-items: center;
    color: var(--ui-dark);
    border: 1em solid var(--ui-dark);
    margin-top: 1em;
    padding: 1em 2em;
    height: 16em;
    gap: 12em;
}

.phase {
    text-transform: capitalize;
}

.present {
    border: 1em solid var(--ui-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
}

.presentLabel {
    padding: 0 .4em;
}

.progress {
    height: 100%;
    background-color: var(--ui);
    animation: progress 1s linear 1;
}

.progressBar {
    width: 100%;
    height: 1em;
}

@keyframes progress {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}
