.hand {
    grid-area: hand;
    background-color: var(--client-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cardsArea {
    flex: 1;
    max-width: calc(100% - 100em);
}

.decks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6em;
    width: 100em;
    z-index: 5;
}

.noDraw {
    pointer-events: none;
    /* opacity: 0.5; */
    filter: brightness(0.7);
}

.choices {
    position: absolute;
    left: 44em;
    right: 44em;
    top: -15em;
}
