.gameRoot {
    width: 500em;
    height: 260em
}

.gameRoot .controlsBox {
    margin-right: 48em;
    margin-left: 48em;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--flow);
}

.borkStack {
    margin-top: 1em;
    opacity: 0.5;
}
