.card {
    position: relative;
    width: 44em;
    height: 58em;
}

.content {
    position: absolute;
    transition: transform 0.5s ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;

    inset: 0;
}

.content.flipped {
    transform: rotateY(180deg);
}

.front {
    position: relative;
}

.front,
.back {
    height: 100%;
    backface-visibility: hidden;
}

.back {
    position: absolute;
    transform: rotateY(180deg);
    top: 0;
}

.face {
    position: absolute;
    inset: 0;
}

.portrait {
    position: absolute;
    top: 2em;
    left: 2em;
}

.cost {
    position: absolute;
    top: 1em;
    right: 1em;
}

.sigils {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 32em;
}

.sigil {
    cursor: help;
}

.noSac {
    position: absolute;
    top: 33em;
    left: 4em;
    opacity: 0.3;
}

.stats {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    left: 3em;
    right: 3em;
    bottom: 3em;
}
