:global([data-hover-target])>.hover {
    position: absolute;
    inset: -2em;
    width: calc(100% + 4em);
    height: calc(100% + 5em);
    pointer-events: none;
    image-rendering: pixelated;
}

:global([data-hover-target])>.hover.hoverControls {
    visibility: hidden;
}

:global([data-hover-target]):hover>.hover.hoverControls {
    visibility: visible;
}

:global([data-hover-target]):active>.hover.hoverControls {
    visibility: hidden;
}
