.play {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 26em calc(100vh - 26em);
    grid-template-areas: "nav" "main";
    height: 100vh;

    filter: url(#abberation) url(#bloom);
    font-size: 0.1875em;
}

.main {
    grid-area: main;
}

.nav {
    grid-area: nav;
}

.version {
    position: absolute;
    bottom: 0;
    right: 0;
    color: var(--ui-dark);
    text-shadow: 0 0 1em var(--flow), 0 0 1em var(--flow), 0 0 1em var(--flow), 0 0 1em var(--flow), 0 0 1em var(--flow), 0 0 1em var(--flow), 0 0 1em var(--flow), 0 0 1em var(--flow), 0 0 1em var(--flow);
}

.notFound {
    color: var(--ui);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.notFoundDiv {
    width: 1em;
    background: var(--ui-dark);
    height: 14em;
    margin: 0 4em 0 2em;
}
