.button {
    all: unset;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: var(--ui);
    color: var(--flow);
    border: solid var(--flow);
    border-width: 1em 1em 2em;
    padding: 0 2em;
}

.button:active {
    border-bottom-width: 1em;
    margin-bottom: 1em;
    transform: translateY(1em);
}

.button.disabled {
    opacity: 0.5;
    pointer-events: none;
    color: var(--ui-dark);
}
