.cards {
    display: flex;
    justify-content: center;
    position: relative;
    max-width: 100%;
    --dx: max(0px, calc(100% * var(--c-sel-len) - var(--c-sel-w) + var(--c-sel-pad)) / (var(--c-sel-len) - 1));
}

.disabled {
    opacity: 0.5;
}

.card {
    --c-dx: calc(var(--dxm) * var(--dx));
    transform: translate(var(--c-dx), 0);
    transition: transform var(--event-draw-duration, 0.5s);
}

.card.selected {
    transform: translate(var(--c-dx), -8em);
    box-shadow: inset 0 0 0 1em var(--ui);
    z-index: 5;
}

.prompt .card:hover {
    transform: translate(var(--c-dx), -16em);
}

.prompt .card:hover~.card {
    transform: translate(calc(var(--c-dx) + var(--dx)), 0);
}
