.modalButton {
    background: var(--ui);
    border: 1em solid var(--flow);
}

.backdrop {
    position: absolute;
    inset: 0;
    background: rgb(0, 0, 0, .5);
}

.backdrop .modal {
    margin: 16em auto;
    width: 240em;
    color: var(--flow);
}

.group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.discordLink {
    display: flex;
    flex-direction: column;
}

.discordButton.discordButton {
    background: var(--discord);
    border: 1em solid var(--discord-darker);
    border-bottom-width: 2em;
    color: #fff;
    padding: 1em;

    cursor: pointer;
}
