.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;

    filter: url(#abberation) url(#bloom);
    /* filter: url(#grain) url(#wobble); */
    font-size: 0.1875rem;
}
