.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;

    filter: url(#abberation) url(#bloom);
    /* filter: url(#grain) url(#wobble); */
    font-size: 0.1875em;
}

/* @media screen and (max-width: 1200px) {
    .app {
        font-size: 0.15em;
    }
}

@media screen and (max-width: 900px) {
    .app {
        font-size: 0.1em;
    }
} */
