.scale {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.marker {
    transform: translateX(calc(var(--points) * 100%));
}

.bowlLeft,
.bowlRight,
.beam {
    position: absolute;
    top: 27em;
    z-index: -1;
}

.bowlLeft {
    left: 0;
    transform: translateY(calc(var(--points) * -2em));
}

.bowlRight {
    right: 0;
    transform: translateY(calc(var(--points) * 2em));
}

.beam {
    transform: rotateZ(calc(var(--points) * 3deg));
}

.points {
    justify-content: center;
    margin-top: -13em;
}
