.btn {
    position: relative;
    cursor: pointer;
}

.btn.disabled {
    pointer-events: none;
}

.btn:hover .normal,
.btn:active .normal {
    visibility: hidden;
}

.active,
.hover {
    position: absolute;
    inset: 0;
    visibility: hidden;
}

.btn:hover:not(:active) .hover {
    visibility: visible;
}

.btn:active .active {
    visibility: visible;
}
